{% extends 'base.html.twig' %}

{% block title %}Safar beauty - Qui sommes nous{% endblock %}

{% block body %}
<div class="row">

<div class="row  featurette present">
    <div class="col-md-6 mt-5">
        <h1 class=" text-center">Qui sommes nous?</h1>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus erat purus, ac ultrices erat fringilla et. Morbi velit ligula, faucibus eu nibh in, porta vestibulum leo. Pellentesque ut mattis ante. Aliquam in elementum diam. Morbi auctor magna non felis pharetra, at tincidunt ipsum facilisis. Suspendisse tristique molestie arcu, et laoreet ipsum porta in. Ut ac aliquet ex, eu mattis enim. Aenean bibendum lacinia urna, a tincidunt metus.</p>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('images/safar-logo-g.png')}}" alt="">
        </div>
    </div>
    
    <div class="row arti">
        <div class="col-md-6">
            <img src="{{ asset('images/pexels-los-muertos-crew-8030149.jpg')}}"alt="" class="img-fluid" height="300px">
                </div>
            <div class="col-md-6  mt-5 ">
        <h1>Notre savoir faire a taille humaine</h1>
        <p>
            Nullam eu lacus pharetra lorem hendrerit ullamcorper. Fusce sit amet purus interdum, bibendum orci at, lacinia lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut arcu id tellus porta posuere. Phasellus consectetur venenatis nibh, eget egestas lacus suscipit ac. Nullam ultricies mauris eu magna facilisis porta in in velit. Nulla non lacus placerat, tempus felis nec, maximus odio.
        </p>
        </div>
            <div class="histo my-4">
                <h1>Notre histoire</h1>
                    <p>
                    Suspendisse eget quam fermentum, aliquam nulla ut, condimentum elit. Vestibulum efficitur nulla non urna posuere elementum. Suspendisse quis ante scelerisque, sollicitudin nisi id, aliquet dui. Sed rhoncus eleifend nulla. Nulla lobortis cursus elit, vel ornare odio aliquam vitae. Praesent tempor enim ultrices odio dapibus, euismod facilisis sem consectetur. Nunc faucibus ligula bibendum velit consequat, non varius metus suscipit. Maecenas ornare nisi et mi posuere, id tristique tortor rhoncus. Cras tristique augue ut blandit efficitur. Integer mollis elit non dolor placerat cursus. Vestibulum maximus lacus sed metus iaculis, at scelerisque eros hendrerit. Nulla sapien nisl, vulputate in tellus sed, rutrum sagittis est. 
                    </p>
                </div>

            </div>
{% endblock %}
