{% extends 'base.html.twig' %}

{% block title %}Safar beauty - Résultat Recherche{% endblock %}

{% block body %}
{% for produit in produits %}

<div>{{ produits.nom }}</div>
{% endfor %}

{% endblock %}