{% extends 'base-admin.html.twig' %}

{% block title %}New Carrier{% endblock %}

{% block body %}
    <h1>Create new Carrier</h1>

    {{ include('admin_carrier/_form.html.twig') }}

    <a href="{{ path('admin_carrier_index') }}">back to list</a>
{% endblock %}
