{% extends 'base.html.twig' %}

{% block title %}Safar beauty - CGU{% endblock %}

{% block body %}
<h1 class=" text-center mt-4">Conditions Générales d'utilisation</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus erat purus, ac ultrices erat fringilla et. Morbi velit ligula, faucibus eu nibh in, porta vestibulum leo. Pellentesque ut mattis ante. Aliquam in elementum diam. Morbi auctor magna non felis pharetra, at tincidunt ipsum facilisis. Suspendisse tristique molestie arcu, et laoreet ipsum porta in. Ut ac aliquet ex, eu mattis enim. Aenean bibendum lacinia urna, a tincidunt metus.

        Nullam eu lacus pharetra lorem hendrerit ullamcorper. Fusce sit amet purus interdum, bibendum orci at, lacinia lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut arcu id tellus porta posuere. Phasellus consectetur venenatis nibh, eget egestas lacus suscipit ac. Nullam ultricies mauris eu magna facilisis porta in in velit. Nulla non lacus placerat, tempus felis nec, maximus odio.
        
        Suspendisse eget quam fermentum, aliquam nulla ut, condimentum elit. Vestibulum efficitur nulla non urna posuere elementum. Suspendisse quis ante scelerisque, sollicitudin nisi id, aliquet dui. Sed rhoncus eleifend nulla. Nulla lobortis cursus elit, vel ornare odio aliquam vitae. Praesent tempor enim ultrices odio dapibus, euismod facilisis sem consectetur. Nunc faucibus ligula bibendum velit consequat, non varius metus suscipit. Maecenas ornare nisi et mi posuere, id tristique tortor rhoncus. Cras tristique augue ut blandit efficitur. Integer mollis elit non dolor placerat cursus. Vestibulum maximus lacus sed metus iaculis, at scelerisque eros hendrerit. Nulla sapien nisl, vulputate in tellus sed, rutrum sagittis est.
        
        Nam vel arcu lobortis, cursus nibh ut, maximus ligula. Sed dapibus nunc nec eros auctor, sed mattis velit dignissim. Phasellus egestas sem vel ante finibus, et viverra urna eleifend. Vivamus porta sagittis nibh, sed venenatis nibh rutrum at. Aliquam nunc justo, dapibus ac ex vitae, ultricies auctor velit. Sed dictum consequat arcu eget varius. Aenean faucibus vulputate lacus nec lacinia. Vivamus ac bibendum velit, quis laoreet diam. Aenean consectetur metus nec urna dapibus, at tincidunt nisi tempor. Vivamus sollicitudin pharetra rutrum. Vivamus lacus orci, ultrices ut vestibulum ut, hendrerit id ante. Phasellus pellentesque cursus erat, eu pharetra turpis lobortis vestibulum. Vestibulum finibus risus velit, et volutpat quam dictum nec. In hac habitasse platea dictumst.
        
        Morbi gravida a risus vitae dignissim. Aliquam viverra hendrerit hendrerit. Etiam eget mollis felis, id ullamcorper ipsum. In pellentesque dolor ligula. Morbi eu lacinia magna, id lobortis risus. Nulla vitae ligula nec ex consequat mollis quis in sem. Vestibulum aliquam iaculis diam finibus suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pellentesque libero sed rutrum tristique. Suspendisse et fringilla mi. Vestibulum tempus metus ut consectetur interdum. Curabitur pretium id lacus in semper. Curabitur a diam at diam sagittis ultrices. Aenean sit amet enim nibh.
        
        </p>
{% endblock %}
