{% extends 'base.html.twig' %}

{% block title %}Cancel Payment{% endblock %}

{% block body %}

{{ parent()}}

<h1>Transaction Annuler :(</h1>
    <p>
      Veuillez vérifiez vos informations de paiments
     contact:
      <a href="mailto:orders@example.com">contact@safar.com</a>.
    </p>
{% endblock %}
