{% extends 'base.html.twig' %}

{% block title %}Effectueé paiment{% endblock %}

{% block body %}

{{ parent()}}

{# <form action="/checkout" method="POST">
<button type="submit" class="btn btn-success my-4">payer</button>
</form> #}
{% endblock %}

