{% extends 'base.html.twig' %}

{% block title %}Success Payment{% endblock %}

{% block body %}

{{ parent()}}

<h1>Merci de votre achat :) !!</h1>
    <p>
      N'oubliez pas de vous inscrire à notre Newslettre
      et restez au courant de tous nos nouvautés.

      Si vous avez des questions n'hesitez pas de nous contacter.
      Email:
      <a href="mailto:orders@example.com">contact@Safar.com</a>
    </p>
{% endblock %}
